<section class="dcp-tray">
    <input type="radio" id="dcp-dice-min" name="switch-two" value="MINIMAL" />
    <label for="dcp-dice-min">{{localize "dcp.Minimal"}}</label>
    <input type="radio" id="dcp-dice-low" name="switch-two" value="LOW" />
    <label for="dcp-dice-low">{{localize "dcp.Low"}}</label>
    <input type="radio" id="dcp-dice-normal" name="switch-two" value="NORMAL" checked />
    <label for="dcp-dice-normal">{{localize "dcp.Normal"}}</label>
    <input type="radio" id="dcp-dice-high" name="switch-two" value="HIGH" />
    <label for="dcp-dice-high">{{localize "dcp.High"}}</label>
    <input type="radio" id="dcp-dice-max" name="switch-two" value="MAXIMAL" />
    <label for="dcp-dice-max">{{localize "dcp.Maximal"}}</label>
</section>