.dcp-tray {
    margin-top: -6px;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: var(--chat-message-spacing);
    pointer-events: all;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
}

    .dcp-tray input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .dcp-tray label {
        font-size: var(--font-size-18);
        text-align: center;
        transition: all 0.1s ease-in-out;
        color: var(--color-light-2);
        box-shadow: 0 0 6px inset #8d9ea7;
        padding: 0;
        min-height: 1rem;
        border: 1px solid #000;
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

        .dcp-tray label:hover {
            cursor: pointer;
            background: var(--color-cool-5);
            border-color: #ff6400;
            box-shadow: 0 0 6px inset var(--color-warm-2);
        }

    .dcp-tray input:checked + label {
        color: #ff6400;
    }

    .dcp-tray label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .dcp-tray label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    .dcp-tray button {
        font-size: var(--font-size-18);
        text-align: center;
        transition: all 0.1s ease-in-out;
        color: var(--color-light-2);
        box-shadow: 0 0 6px inset #8d9ea7;
        padding: 0;
        min-height: 1rem;
        border: 1px solid #000;
        flex: 1;
    }

    .dcp-tray button:hover {
        border-color: #ff6400;
        box-shadow: 0 0 6px inset #ff6400;
    }

    .dcp-tray button:focus {
        outline:none;
        border:none;
    }

    .dcp-tray i {
        margin: 0;
    }

    .dcp-tray .checkbox-icon {
        position: relative;
        cursor: pointer;
        font-size: 24px;
      }
      
      .dcp-tray .checkbox-icon input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .dcp-tray .checkbox-icon .unchecked {
        display: inline;
      }
      
      .dcp-tray .checkbox-icon .checked {
        display: none;
      }
      
      .dcp-tray .checkbox-icon input:checked ~ .unchecked {
        display: none;
      }
      
      .dcp-tray .checkbox-icon input:checked ~ .checked {
        display: inline;
      }