.dcp-tray {
    flex: 0;
    margin: 0 6px;
    flex-wrap: nowrap;
}

.dcp-tray.title {
    justify-content: center;
    margin-bottom: 0;
}

    .dcp-tray input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .dcp-tray label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: var(--font-size-18);
        text-align: center;
        padding: 3px 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }

        .dcp-tray label:hover {
            cursor: pointer;
        }

    .dcp-tray input:checked + label {
        background-color: #a5dc86;
        box-shadow: none;
    }

    .dcp-tray label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .dcp-tray label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    .dcp-tray button {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: var(--font-size-18);
        text-align: center;
        padding: 3px 8px 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }

    .dcp-tray button:hover {
        border-color: #ff6400;
        box-shadow: 0 0 6px inset #ff6400;
    }

    .dcp-tray i {
        margin: 0;
    }